{% load static %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href = {% static 'img/favicon.ico' %}>

    <title>Fixed top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    
    {% include "head_css.html" %}


    <style>
    {% block style%}
    .text-align-center{
            text-align: center;
        
    }  
{% endblock%}
    </style>

  </head>

  <body>


   {% include 'navbar.html' %}
   
   {% verbatim %} 
   {% endverbatim %}

   {% block implementMe %}

    <h3>Implementation from base</h3>

   {% endblock %}

   {% block content%}

   {% endblock %}

      

    
  
    

   {% include "head_js.html" %}
  </body>
</html>
