{% load static %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href = {% static 'img/favicon.ico' %}>

    <title>Fixed top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    
    {% include "head_css.html" %}

  </head>

  <body>


   {% include 'navbar.html' %}
   
   {% verbatim %} 
   {% endverbatim %}

   {% block implementMe %}

    <h3>Implementation from base</h3>

   {% endblock %}


    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>
    


      <div  class="row">
        <div  class="col-md-3">
          <form method = "POST", action = "">
            {% csrf_token %}
            {{form|crispy}}
            <input type="Submit" name = "Sign UP">
          </form>
        </div>
      </div>

      
    </main>

   {% include "head_js.html" %}
  </body>
</html>
