{% load static %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href = {% static 'img/favicon.ico' %}>

    <title>Fixed top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    
    {% include "head_css.html" %}


    <style>
    {% block style%}
    
    {% endblock%}
    </style>

  </head>

  <body>


   {% include 'navbar.html' %}
   
   {% verbatim %} 
   {% endverbatim %}

   {% block implementMe %}

    <h3>Implementation from base</h3>

   {% endblock %}


    <main role="main" class="container">
      
      <div class="jumbotron">
        <div class="row">
          <div class = "col-md-6">
          
            <h1>Navbar example</h1>
            <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
            <a class="btn btn-lg btn-primary" href = "" role="button">SIgn up &raquo;</a>
          </div>

          <div class = "col-md-3 pull-right" style = "background-color:black;height=300px;">

          </div>
        </div>
      </div>

      <div  class="row">
        <div class = "col-md-12" style="background-color:purple;">

          <div class = "col-md-3 float-right" style="background-color:yellow;">
            <form method = "POST", action = "">
              {% csrf_token %}
              {{form|crispy}}
              <input class = "btn btn-primary" type="Submit" name = "Sign UP">
            </form>
          </div>

          <div class = "col-md-3 float-right" style="background-color:green;">
            <p class = 'lead'> AAAAAAAAAAa </p>
          </div>
         

          <div class = "col-md-3 float-right" style="background-color:blue;">
            <p class = 'lead text-align-center'> bbbbbbbbbb </p>
          </div>


          <div class = "col-md-3 float-right" style="background-color:red;">
            <p class = 'lead'> cccccccccc  </p>
          </div>



        </div>
      </div>

    </main>

      

    
  
    

   {% include "head_js.html" %}
  </body>
</html>
